configMaps:
  angular:
    data:
      env.js: |
        (function(window) {
          window.ENV = window.ENV || {};
          window.ENV.APP_VERSION = '1.0.0';
          window.ENV.ENVIRONMENT = 'dev';
          window.ENV.POD_NAME = 'mypod'
          window.ENV.POD_NAMESPACE = 'mynamespace';
          window.ENV.NODE_NAME = 'mynode';
        })(this);

controllers:
  angular:
    replicas: 1

    containers:
      app:
        image:
          repository: ghcr.io/jwfcb/angular-demo
          tag: v0.1.3
          pullPolicy: Always

        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

        envFrom:
          - configMapRef:
              name: angular

        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 8080
              initialDelaySeconds: 10
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes

        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi

service:
  app:
    controller: angular
    ports:
      http:
        port: 8080
        protocol: HTTP

route:
  app:
    hostnames:
      - angular.example.com
    parentRefs:
      - name: envoy-external
        namespace: network
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: 8080

persistence:
  tmp:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /tmp/nginx
  nginx-cache:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /var/cache/nginx
  nginx-run:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /var/run
  env-js:
    type: configMap
    name: angular
    globalMounts:
      - path: /usr/share/nginx/html/assets/env.js
        subPath: env.js
        readOnly: true

# Pod Security
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 101
    runAsGroup: 101
    fsGroup: 101
    seccompProfile:
      type: RuntimeDefault
